{
    "presets": [
        [
            "es2015", {
                "loose": true
            }
        ]
    ],
    "plugins": [
        ["external-helpers"],
        ["transform-runtime", {
          "helpers": true,
          "polyfill": false,
          "regenerator": false,
          "moduleName": "babel-runtime"
        }]
    ]
}
