:root {
  --color-main: #bbcccc;
  --color-dark: #aabbbb;
}

@custom-media --narrow (max-width: 760px);
@custom-media --mobile (max-width: 400px);

html {
  height: 100%;
}

body {
  background-color: #FFF;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  width: 100%;
}

body>div {
    overflow-x: hidden;
    width: 100%;
}

h1,
h2,
h3 {
  color: #303030;
  font-weight: 400;
  margin: 0.5em 0;
}

h1 {
  font-size: 48px;
  line-height: 1;
  margin: 0.4em 0 0.2em;
}

h2 {
  font-size: 32px;
}

h3 {

}

header {
  text-align: center;
  width: 100%;
}

section {

}

pre {
  padding: 50px 0;
  width: 100%;
}

@media (--mobile) {
    pre {
      padding: 0;
    }
}

code {
  border-radius: 8px;
  margin: 0 auto;
  max-width: 800px;
  min-width: 320px;
  width: 80%;
}

code ul {
  margin-left: 3.5em;
}

@media (--mobile) {
  code {
    font-size: 60%;
  }
}

nav {
  padding: 40px 0 50px;
  text-align: center;
}

nav a {
  text-decoration: underline;
  font-size: 32px;
}

* {
    box-sizing: border-box;
}

.dg select {
    color: black;
}
