.Player {
    background: #eee;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 400px;
}

.Player-waveform {
    height: 80px;
    position: relative;
    width: 400px;
}

.Player-waveform-inner {
    left: 0;
    position: absolute;
    top: 0;
}

.Player-waveform-clip {
    height: 80px;
    overflow: hidden;
}

.Player-controls {
    border-top: 1px solid #ccc;
    font-size: 1rem;
    line-height: 14px;
    padding-top: 8px;
}

.Player-button {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #444;
    font-size: 1.25rem;
    width: 60px;
    text-align: center;
}

.Player-button.is-selected {
    background-color: #444;
    color: #ddd;
}

.Player-button:disabled {
  cursor: default;
  opacity: 0.5;
}

.Player-button:focus {
    outline: 0;
}

.Player-slider {
    display: inline-block;
    font-size: 1rem;
    position: relative;
}

.Player-slider--margin {
    margin-left: 10px;
}

.Player-slider-input {
    display: inline-block;
    width: 100px;
    margin: 2px;
    vertical-align: middle;
}

.Player-slider-input--wide {
    width: 200px;
}

.Player-slider-output {
    display: inline-block;
    padding: 0 8px;
}

.Player-slider-limit {
    display: inline-block;
    min-width: 36px;
}

.Player-info {
    color: #444;
    display: inline-block;
    float: right;
    font-size: 1.25rem;
    line-height: 20px;
}

.Player-effect-panel {
    display: none;
    margin: 10px 0;
    width: 420px;
}

.Player-effect-panel.is-visible {
    display: block;
}