/* Sections */

body {
    background-color: #FFF;
    color: #000;
    font-family: sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 2em;
}

h1,
h2,
h3 {
    font-weight: normal;
}